﻿@{
    ViewBag.Title = " IAEA Visitor System Home Page";
}

<div class="jumbotron">
    <h1>IAEA Visitor System</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Please log in and then you can use visitor system!.
        </p>
        <p><a class="btn btn-default" href="~/Visitors/Index">GO &raquo;</a></p>
    </div>
</div>