﻿@model IAEA.VisitorSystem.DataContracts.Entities.Visitor

@{
    ViewBag.Title = "Visitor's details";
}

<h2>Details</h2>

<div>
    <h4>Visitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VisitorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByStaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByStaffName)
        </dd>

    </dl>
</div>

<div>
    <h4>Visitor card management</h4>
    @if (Model.CardId.HasValue)
    {
        <div>
            <label> Active card </label>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ActiveCard.CardId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActiveCard.CardId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ActiveCard.CheckedIn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActiveCard.CheckedIn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ActiveCard.CheckInTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActiveCard.CheckInTime)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ActiveCard.CheckedOut)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActiveCard.CheckedOut)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ActiveCard.CheckOutTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ActiveCard.CheckOutTime)
                </dd>
            </dl>
        </div>
        if (!Model.ActiveCard.CheckedIn)
        {
            <p>@Html.ActionLink("Card Check In", "CardCheckIn", new { id = Model.ActiveCard.CardId })</p>
        }
        else
        {
            <p>@Html.ActionLink("Card Check Out", "CardCheckOut", new { id = Model.ActiveCard.CardId })</p>
        }

        if (Model.ActiveCard.CheckedOut)
        {
            <p>@Html.ActionLink("Card Deactivate", "CardDeactivate", new { id = Model.ActiveCard.CardId })</p>
        }

    }
    else
    {

        <div>
            <label>Create card</label>
            <p>@Html.ActionLink("Create Card", "CreateCard", new { id = Model.VisitorId })</p>
        </div>
    }

    <div>
        <label>History cards</label>
        <table>
            <tr>
                <th>
                    Card Id
                </th>
                <th>
                    Check In Time
                </th>
                <th>
                    Check Out Time
                </th>
            </tr>
            @foreach (var item in Model.HistoryCards)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CardId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckInTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOutTime)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
