﻿@model IEnumerable<IAEA.VisitorSystem.DataContracts.Entities.Visitor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VisitorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByStaffName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VisitorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByStaffName)
        </td>
        <td>
            @Html.ActionLink("Card Managerment", "Details", new { id=item.VisitorId })
        </td>
    </tr>
}

</table>
