﻿@model String

@{
    ViewBag.Title = "Error in application";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h2 class="text-danger">Details:</h2>
<h2 class="text-danger">@Model</h2>
<p><a class="btn btn-default" href="~/Home/Index">Back Home &raquo;</a></p>

